@layout('base')
@section('content')
<form method="POST">
  {{csrfField()}}
  <h1>Customer's Login Page</h1>
  <div>
    <label class="form-label">Please enter your username or Email address</label>
    <input type="text" class="form-control" name="login" placeholder="Enter username or email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div>
    <label for="form-label">Password</label>
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
 <a href="{{route('create_new_account')}}" class="btn btn-primary mt-3">Create New Account</a>
</form>
@endsection
