@layout('base')
@section('content')
<h1>Deleting Customer : {{customer.firstname}} {{customer.lastname}}

<form method="POST">
  {{csrfField()}}
  <div class= "alert alert-danger">
    Confirm you want to delete ?
    <input type="submit" class="btn btn-danger" value="Yes"/>
    <a href="{{route('display_all_customers')}}" class="btn btn-success">Back</a>
  </div>
</form>

@endsection


