@layout('base')

@section('content')
<h1>Customer's Profile</h1>
<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Email</th>
    <th>Mobile Number</th>
    <th>Address</th>
    <th>Action</th>
  </tr>
    @each(c in customers)
    <tr>
      <td>{{c.firstname}}</td>
      <td>{{c.lastname}}</td>
      <td>{{c.gender}}</td>
      <td>{{c.email}}</td>
      <td>{{c.mobile_number}}</td>
      <td>{{c.address}}</td>
      <td><a class="btn btn-danger btn-sm" href="{{route('delete_customer',{customer_id:c.id})}}">X</a></td>
    </tr>
    @endeach
</table>
@endsection
