<!doctype html>
<html lang="en">
  <head>
   <meta charset="UTF-8"/>
   <title>Payment Status</title>
   {{style('success')}}
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
  <body>
    <div class="center">
        <div class="content">
      <div class="header">
    <h2>Payment Status</h2>
     </div>
     <label class="fas fa-check"></label>
     <p> Transaction Successfully. Thank you for payment.</p>
     <button onclick="closeWin()" class="close-btn">Close</button>
     </div>
  </div>
  </body>
  <script>
  function closeWin() {
      window.close();
  }
    </script>
</html>
