@layout('base')
@section('content')

<h1>Display all Products</h1>
<div class="row">
@each(p in products)
<div class="card" style="width: 13rem;">
  <img class="card-img-top" src="{{p.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{p.category}}</h5>
    <p class="card-text">{{p.description}}</p>
     <p class="card-text">{{p.price}}</p>
   <a href="{{route('add_to_order',{product_id:p.id})}}" class="btn btn-success">Add To Order</a>
   <div class="card-footer">
      <small class="text-muted">Updated : {{p.updated_at}} </small>
    </div>
  </div>
</div>
 @endeach
</div>
@endsection
