@layout('base')

@section('content')

<div class="posts-wrapper">
  <div class="row">
    @each(p in products)
      <div class="col-sm-4 col-md-4 col-xs-12 single-post-wrapper">
        <div class="card">
          <div class="title text-center">
            {{p.category}}
          </div><hr/>
          <div class="content">
            <div class="post-image">
              <img src="{{p.image_url}}" height="150px" width="150">
            </div>
            <div class="post-body text-center">
              <ul>
              <li><label>Description : </label> {{p.description}}</li>
               <li><label>Price : $</label> {{p.price}}</li>
              </ul>
            </div>
            <a href="{{route('update_product',{product_id:p.id})}}" class="btn btn-primary">Update</a>
             <a href="{{route('delete_product',{product_id:p.id})}}" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </div>
    @endeach
  </div>
</div>

@endsection
