@layout('base')

@section('content')
<h1>List of Bakering Category</h1>
<table>
  <tr>
    <th>Category : </th>
    <th>Description : </th>
    <th>Price : $</th>
  </tr>
    @each(p in products)
    <tr>
      <td>{{p.category}}</td>
      <td>{{p.description}}</td>
      <td>{{p.price}}</td>
      <td>{{p.image}}</td>
    </tr>
    @endeach
</table>
@endsection
