@layout('base')
@section('content')

  <form method="POST">
    {{csrfField()}}
  <h1>Order Form</h1>
  <h4>Please select the quantity and click submit. Thank you</h4>

  <div class="row">
  @each(p in product)
  <div class="card" style="width: 13rem;">
  <img class="card-img-top" src="{{p.image_url}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{p.category}}</h5>
    <p class="card-text">{{p.description}}</p>
     <p class="card-text">{{p.price}}</p>
     <div>
     <label class="form-label">Quantity</label>
     <input type="text" name="quantity" value="1"/>
  </div>
    <a href="{{route('add_feedback', {product_id:p.id})}}" class="btn btn-success mt-3 mb-3">Leave Feedback</a>
   <div class="card-footer">
      <small class="text-muted ">Updated : {{p.updated_at}} </small>
    </div>
  </div>
</div>
 @endeach
</div>
@endsection






  <div>
    <label class="form-label">Username </label>
    <input type="text" class="form-control mb-3" id="username" value="{{auth.user.username}}"/>
  </div>
  <div>
    <label class="form-label">Item Category</label>
    <select class="form-control mb-3" name="category">
      <option value="Bread">Bread</option>
      <option value="Macaron">Macaron</option>
      <option value="Snack">Snack</option>
    </select>
  </div>
  <div>
    <label class="form-label">Rating</label>
    <select class="form-control mb-3" name="ratings" value="5">
      <option value="5">Can't wait to eat the next one</option>
      <option value="4">Will Buy again</option>
      <option value="3">Room for Improvment</option>
       <option value="2">So-so-lah</option>
      <option value="1">Won't Eat again</option>
    </select>
  </div>
  <div>
    <label class="form-label">Feedback</label>
    <textarea class="form-control mb-3" name="comments" rows="5" placeholder="Please restrict to 500 words only"></textarea>
  </div>
  <input type="submit" value="Submit" class="btn btn-primary mt-3"/>
</form>

@endsection
